.dialog--loading-login
  &__loading-text
    color #ffffff
    font-size 16px
    font-weight 300
    line-height 45px
    letter-spacing 0.32px
  &__title
    color #ffffff
    font-size 33px
    font-weight 400
    line-height 45px
    letter-spacing 0.66px
