@keyframes slide-line-left {
  0% {
    transform translateY(0%)
  }
  100% {
    transform translateY(-100%)
  }
}

@keyframes slide-line-right {
  0% {
    transform translateY(0%)
  }
  100% {
    transform translateY(100%)
  }
}


@keyframes button-more {
  0% {
    stroke-dashoffset 20
  }
  100% {
    stroke-dashoffset -175
  }
}


@keyframes slide-button {
  0% {
    transform scale(1)
    box-shadow 0px 0px 0px rgba(227, 143, 3, 0.35)
  }
  100% {
    transform scale(1.08)
    box-shadow 0px 0px 24px rgba(227, 143, 3, 0.35)
  }
}
